{% extends "base.html" %}

{% block content %}


<div class="container">
  <h2>Your Trash Pickup Locations</h2>
  <div id="map" style="height: 500px;"></div>
</div>

<!-- Include Leaflet.js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="  crossorigin="anonymous"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="  crossorigin="anonymous"></script>

<div class="container-lg">
  <div class="row">
    <!-- About Section -->
    <div class="col-lg mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1>Trash Sundays</h1>
          <p class="card-text">
            Trash Sundays is a community-driven initiative that encourages individuals and groups to come together every Sunday to pick up trash in their local environments. It’s more than just cleaning up our surroundings; it’s about fostering a sense of community, connecting with nature, and ending the week with a tangible accomplishment that benefits everyone.
          </p>
          <p>
            <img src="/media/about.jpeg" alt="Beach cleanup" class="img-thumbnail">
          </p>
        </div>
      </div>
    </div>

    <!-- Statistics Section -->
    <div class="col-sm mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Statistics</h3>
          <section id="hero" class="d-flex align-items-center">
            <div class="container-fluid">
              <p class="card-text">
                <h4>Total Trash Picked Up Globally:</h4>
                <span class="text-success">{{ total_trash_picked_up }} liters</span>
              </p>
              <p class="card-text">
                <h4>Your Contribution:</h4>
                <span class="text-primary">{{ total_bags }} bags</span>
              </p>
              <p class="card-text">
                <h4>Trash Picked Up in {{ user_profile.location }}:</h4>
                <span class="text-info">{{ country_trash_picked_up }} liters</span>
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- Statistics Section -->
    <div class="col-sm mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">Map</h3>
          <section id="hero" class="d-flex align-items-center">
            <div class="container-fluid">
              <p class="card-text">
                <h4>placeholder</h4>
                <span class="text-info">{{ country_trash_picked_up }} liters</span>
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5">The Benefits</h2>
  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Connecting with Nature</h5>
          <p class="card-text">
            Spending time outdoors is proven to reduce stress, improve mood, and boost overall well-being. By participating in Trash Sundays, you’re not only helping the environment but also benefiting your own mental and physical health.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">A Sense of Accomplishment</h5>
          <p class="card-text">
            There’s something incredibly rewarding about ending your week with a concrete achievement. Each piece of trash picked up is a step towards a cleaner, healthier planet. The satisfaction of seeing a cleaner space and knowing you contributed to it is unparalleled.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Community Power</h5>
          <p class="card-text">
            Trash Sundays highlights the power of collective action. When we work together, even small efforts can lead to significant change. It’s an opportunity to meet like-minded people, build connections, and strengthen your community.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2>Our Mission</h2>
    <p class="lead">
      Our mission is simple: to reduce litter, one Sunday at a time. We believe that small actions, when multiplied by many, can transform our world. Trash Sundays is not just an initiative; it’s a movement toward a cleaner, more connected, and more mindful world.
    </p>
  </div>

  <div class="mt-5">
    <h2>How is Trash Sundays Different?</h2>
    <p class="lead">
      Unlike many apps that promote passive consumption, Trash Sundays encourages active participation. Instead of losing hours scrolling through social media, use that time to engage in a meaningful, hands-on activity that makes a positive impact. It’s about breaking the cycle of mindless consumption and replacing it with purposeful action.
    </p>
  </div>
</div>


{% endblock %}
