body {
    background-color: #101010; 
    color: white;
}

.navbar {
    background-color: #101010;
}

.nav-link {
    color: white; /* Default color for nav links */
}

/* Styles for nav links when focused or hovered */
.nav-link:focus, 
.nav-link:hover {
    color: #FF5722 !important;
}

/* Styles for nav links with specific classes */
.navbar-nav .nav-link.aktiv,
.navbar-nav .nav-link.show {
    color: #FF5722 !important; /* Ensure these have higher specificity */
}
