body {
    background-color: #F6F6F6;
    color: black;
}

.navbar {
    background-color: #F6F6F6;
}

.nav-link {
    color: black;
}

.inline-big {
    color: rgb(255, 115, 0);
    white-space: nowrap;
}

/* Add more light mode styles as needed */