body {
    background-color: #F6F6F6;
    color: black;
}

body h1 {
    color: rgb(61, 61, 61);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

h2 {
    color: rgb(61, 61, 61);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.homevideo {
    opacity: 50%;
}

h3 {
    color: rgb(61, 61, 61);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

.card-title {
    color: rgb(61, 61, 61);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}



.inline-big {
    color: rgb(255, 115, 0);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

h1 {
    color: rgb(255, 115, 0);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.inline {display: inline;} /* Use so headings don't have linebreak */

/* Image style settings */

.profile-image {
    max-width: 200px;
}

.home-image {
    max-width: fit-content;
}