body {
    background-color: #F6F6F6;
    color: black;
}

body h1 {
    color: rgb(255, 115, 0);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}


.inline-big {
    color: rgb(255, 115, 0);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

h1 {
    color: rgb(255, 115, 0);
    white-space: nowrap;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

